name: CLI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  kind:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest] # windows-latest kui headless build son windows seem to fail [webpack-cli] Invalid value '${MODE-production}' for the '--mode' option
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm ci && npm run build:headless

    - name: Run Test
      env:
        EXECUTABLE_PATH: github-actions-production
      run: ./tests/cli/run.sh
