name: Kind

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  kind:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        profile:
          - non-gpu1/keep-it-simple # ray
          - non-gpu2/keep-it-simple # ray
          - non-gpu3/keep-it-simple # ray
          - non-gpu4/keep-it-simple # ray
          - non-gpu5/keep-it-simple # ray with dashdash args
          - non-gpu6/mcad-default # torchx
          # - non-gpu1/ray-autoscaler
          - non-gpu1/mcad-default # ray
          - non-gpu1/mcad-coscheduler # ray
          - non-gpu1/mcad-preinstalled # ray
        os: [ubuntu-latest]
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3

    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.3.0
      with:
        install_only: true

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Setup
      env:
        TERM: xterm
      run: ./tests/kind/setup-ci.sh

    - name: Run Test with profile ${{ matrix.profile }}
      env:
        EXECUTABLE_PATH: github-actions-production
        DEBUG_KUBERNETES: true
      run: ./tests/kind/run.sh ${{ matrix.profile }}
